In [1]:
import pandas as pd
import os

In [2]:
pwd()

'/Users/julia/Desktop/Thesis/Code Repository'

In [15]:
df = pd.read_csv('mv_summary.csv')

/Users/julia/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [53]:
df1 = pd.read_csv('preprocessed.csv')

/Users/julia/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (2,3,5,9,13,14,18,22,24,35,45,46,49) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
#df = df.rename(columns={'Project_Number': 'Project Number', 'Project_Name' : 'Project Name'})
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df['Project Number'] = df['Project Number'].astype('str') 
#df['Fiscal Period Code'] = pd.to_datetime(df['Fiscal Period Code'], format='%Y%m')

In [18]:
#df = df.rename(columns={'Project_Number': 'Project Number', 'Project_Name' : 'Project Name'})
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
df1['Project Number'] = df1['Project Number'].astype('str') 
#df1['Fiscal Period Code'] = pd.to_datetime(df1['Fiscal Period Code'], format='%Y%m')

In [52]:
df1['Contract Type Name'].unique()

array(['Time and Material', 'Lump Sum', 'Cost plus Fixed Fee', 'D', 'N',
       'R', 'H', 'Unspecified', 'Time and Material with cap',
       'Revenue group', 'Lump Sum with IFRS'], dtype=object)

In [22]:
#df.iloc[:,19:30]

In [19]:
subset = df[['Fiscal Period Code','Project Number', 'Project Start Date', 'POC', 'Contract Status', 'Related Opportunity Project Number', 'Project Manager Employee Number (Current)', 'Project Progress Status (Current)', 'Scheduled End Date']]

In [20]:
df1.head()

,Fiscal Period Code,Project Number,Project Id,Project Name,Health and Safety Status,project_date_create,Project Status,SalesCloudClientNo,Related Opportunity Project Number,Contract Type Name,...,Risk Profile,Sustainable Project,interest_current.1,riskrating_project,Total WIP,Positive WIP,Total Aging,Cleaned_Name,ActualNR_sum,Projectduration
0,201601,unspecified,ADVCLIENT5042,UNIVAR - PROJECT MONARCH,NaN,NaN,Open/Active,10239939.0,NaN,Time and Material,...,Unspecified,Unspecified,-23.04,NaN,NaN,NaN,NaN,UNIVAR PROJECT MONARCH,2652.99,36
1,201601,30001238,mdKCAUGHHORN220630032443,YJWWTP Post-Sandy Rehab- PhIII,NaN,NaN,Open/Active,10238060.0,NaN,Cost plus Fixed Fee,...,Medium,Unspecified,1.75,NaN,NaN,NaN,NaN,YJWWTP PostSandy Rehab PhIII,1906.53,63
2,201601,30001347,MPICLIENT002660000080310,Abandoned Chemical Sales Fac.,NaN,NaN,Open/Active,10238193.0,NaN,D,...,Medium,Unspecified,0.47,NaN,NaN,NaN,NaN,Abandoned Chemical Sales Fac,1462.79,63
3,201601,30001355,MPICLIENT002660000080310,NYSDEC Jimmy's RA,NaN,NaN,Open/Active,10238193.0,NaN,Cost plus Fixed Fee,...,Medium,Unspecified,-51.96,NaN,NaN,NaN,NaN,NYSDEC Jimmys RA,8096.48,63
4,201601,30001367,MPICLIENT002660000080310,Chemical Sales RD WA 34,NaN,NaN,Open/Active,10238193.0,NaN,D,...,Medium,Unspecified,0.00,NaN,NaN,NaN,NaN,Chemical Sales RD WA,1957.68,63

In [21]:
subset.head()

,Fiscal Period Code,Project Number,Project Start Date,POC,Contract Status,Related Opportunity Project Number,Project Manager Employee Number (Current),Project Progress Status (Current),Scheduled End Date
0,202001,30000003,2018-10-01 00:00:00,84.545385,Active,NaN,24850.0,On Track,2021-03-31
1,202001,30000004,2015-03-24 00:00:00,25.214530,Active,NaN,24855.0,Unspecified,2020-06-30
2,202001,30000005,2018-10-29 00:00:00,100.000003,Active,NaN,24812.0,Unspecified,2020-06-30
3,202001,30000006,2018-06-04 00:00:00,50.570059,Active,NaN,24821.0,On Track,2021-07-15
4,202001,30000007,2018-04-16 00:00:00,99.999998,Active,NaN,30027.0,On Track,2019-07-30

In [22]:
subset['Fiscal Period Code'] = subset['Fiscal Period Code'].astype('str') 
df1['Fiscal Period Code'] = df1['Fiscal Period Code'].astype('str')

/Users/julia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### We add the project number and fiscal period together

In [23]:
subset['ID'] = subset['Fiscal Period Code'] +'-'+ subset['Project Number']
df1['ID'] = df1['Fiscal Period Code'] +'-'+ df1['Project Number']

/Users/julia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
#mv_port =pd.concat([df1, subset], axis=1).reindex(df1.index)
mv_port = pd.merge(df1, subset, on="ID", how="outer", validate="one_to_many")
mv_port.columns

Index(['Fiscal Period Code_x', 'Project Number_x', 'Project Id',
       'Project Name', 'Health and Safety Status', 'project_date_create',
       'Project Status', 'SalesCloudClientNo',
       'Related Opportunity Project Number_x', 'Contract Type Name',
       'Ultimate Customer AUS Market Sector', 'Division Short Name',
       'location_2', 'location_4', 'Region', 'City', 'Country', 'Country Name',
       'Proj_CVP', 'Proj_Serv_Offering', 'CVP Description', 'ï»¿CVP Code',
       'primary_client_industry', 'Sales Cloud Opportunity Number',
       'Funding Amount - ITC (Snapshot)', 'Backlog NR',
       'Actual Direct Labor Cost - MTD', 'Actual Non-Labor Cost - MTD',
       'Actual Gross Revenue - MTD', 'Actual Net Revenue - MTD', 'EBITA - MTD',
       'Forecast Direct Labor Cost - ITC', 'Forecast Net Revenue - ITC',
       'Order Intake (NR) - MTD', 'WBS1', 'bookings_jtd', 'interest_current',
       'interest_jtd', 'interest_ytd', 'multiplier_budget',
       'multiplier_current', 'multiplier_target', 'overhead_current',
       'overhead_rate', 'revenue_type', 'AUS Mkt Sector Aggregate',
       'Baseline NR', 'Break Even Multiplier - Project', 'GBL Description',
       'Legacy Project Number', 'Organization Size', 'Risk Profile',
       'Sustainable Project', 'interest_current.1', 'riskrating_project',
       'Total WIP', 'Positive WIP', 'Total Aging', 'Cleaned_Name',
       'ActualNR_sum', 'Projectduration', 'ID', 'Fiscal Period Code_y',
       'Project Number_y', 'Project Start Date', 'POC', 'Contract Status',
       'Related Opportunity Project Number_y',
       'Project Manager Employee Number (Current)',
       'Project Progress Status (Current)', 'Scheduled End Date'],
      dtype='object')

### Now we can use regex to split up the mixed column again
So that we have one 'new project number' column where the number is consisten

In [25]:
def random_project(df):
    df = df.sample(n=1)
    project_number = df['Project Number_x'].item()
    return project_number

In [26]:
random_project(mv_port)

'30016541'

In [28]:
#mv_port[mv_port['Project Number_x'] == '30001812']

#### 
the new dataset is longer as MV also contained april data

In [37]:
len(mv_port)

1324485

In [49]:
mv_port[['Date', 'Project Number']] = mv_port['ID'].str.split('-', 1, expand=True)
mv_port.head()

,Project Number_x,Project Id,Project Name,Health and Safety Status,project_date_create,Project Status,SalesCloudClientNo,Related Opportunity Project Number_x,Contract Type Name,Ultimate Customer AUS Market Sector,...,Project Number_y,Project Start Date,POC,Contract Status,Related Opportunity Project Number_y,Project Manager Employee Number (Current),Project Progress Status (Current),Scheduled End Date,Date,Project Number
0,unspecified,ADVCLIENT5042,UNIVAR - PROJECT MONARCH,NaN,NaN,Open/Active,10239939.0,NaN,Time and Material,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201601,unspecified
1,30001238,mdKCAUGHHORN220630032443,YJWWTP Post-Sandy Rehab- PhIII,NaN,NaN,Open/Active,10238060.0,NaN,Cost plus Fixed Fee,Municipalities/Local Govt.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201601,30001238
2,30001347,MPICLIENT002660000080310,Abandoned Chemical Sales Fac.,NaN,NaN,Open/Active,10238193.0,NaN,D,State/Regional Government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201601,30001347
3,30001355,MPICLIENT002660000080310,NYSDEC Jimmy's RA,NaN,NaN,Open/Active,10238193.0,NaN,Cost plus Fixed Fee,State/Regional Government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201601,30001355
4,30001367,MPICLIENT002660000080310,Chemical Sales RD WA 34,NaN,NaN,Open/Active,10238193.0,NaN,D,State/Regional Government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201601,30001367

### Next we need to clean up the columns so that the dataset can be exported

In [46]:
### lets first convert the fiscal periods
#mv_port['Fiscal Period Code'] = pd.to_datetime(mv_port['Fiscal Period Code'], format='%Y%m')
mv_port.pop('Fiscal Period Code_x')
mv_port.pop('Fiscal Period Code_y')

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
            ...
1324480    202104
1324481    202104
1324482    202104
1324483    202104
1324484    202104
Name: Fiscal Period Code_y, Length: 1324485, dtype: object

In [105]:
## Drop all these columns
mv_port.pop('project_date_create')
mv_port.pop('Project Id')
mv_port.pop('Related Opportunity Project Number_x')
mv_port.pop('WBS1')
mv_port.pop('GBL Description')
mv_port.pop('Legacy Project Number')
mv_port.pop('Sustainable Project')

0          Unspecified
1          Unspecified
2          Unspecified
3          Unspecified
4          Unspecified
              ...
1324480            NaN
1324481            NaN
1324482            NaN
1324483            NaN
1324484            NaN
Name: Sustainable Project, Length: 1324485, dtype: object

In [100]:
mv_port['Organization Size']= mv_port['Organization Size'].str.replace(r'^(RKC)$', 'Key Regional')
mv_port['Organization Size']= mv_port['Organization Size'].str.replace(r'^(Local)$', 'Key Local')
mv_port['Organization Size']= mv_port['Organization Size'].str.replace(r'^(GKC)$', 'Key Global')

mv_port['Organization Size'].fillna('Unspecified', inplace=True)
mv_port['Organization Size'].unique()

array(['Key Regional', 'Key Local', 'Key Global', 'Unspecified'],
      dtype=object)

In [104]:
mv_port.iloc[:, 59:][mv_port['Project Number'] == '30001367'] #30001367

,Projectduration,ID,Project Number_y,Project Start Date,POC,Contract Status,Related Opportunity Project Number_y,Project Manager Employee Number (Current),Project Progress Status (Current),Scheduled End Date,Date,Project Number
4,63.0,201601-30001367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201601,30001367
2357,63.0,201602-30001367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201602,30001367
4782,63.0,201603-30001367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201603,30001367
7311,63.0,201604-30001367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201604,30001367
9931,63.0,201605-30001367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201605,30001367
...,...,...,...,...,...,...,...,...,...,...,...,...
971640,63.0,202012-30001367,30001367,2015-07-01 00:00:00,123.492885,Active,NaN,24986.0,On Track,2020-08-31,202012,30001367
1008944,63.0,202101-30001367,30001367,2015-07-01 00:00:00,123.492887,Active,NaN,24986.0,On Track,2020-08-31,202101,30001367
1038150,63.0,202102-30001367,30001367,2015-07-01 00:00:00,123.492887,Active,NaN,24986.0,On Track,2020-08-31,202102,30001367
1079088,63.0,202103-30001367,30001367,2015-07-01 00:00:00,123.492887,Active,NaN,24986.0,On Track,2020-08-31,202103,30001367
1270529,NaN,202104-30001367,30001367,2015-07-01 00:00:00,123.492887,Active,NaN,24986.0,On Track,2020-08-31,202104,30001367

In [74]:
### creating all the sub dfs by droping duplicates
Project_Number_x_first = (mv_port.drop_duplicates(subset='Project Number', keep= 'first').reset_index(drop=True))
### Don't use the one below as it's usually empty
#Project_Number_y_last = (mv_port.drop_duplicates(subset='Project Number', keep= 'last').reset_index(drop=True))

Project_Number_x_last = (mv_port.drop_duplicates(subset='Project Number_x', keep= 'last').reset_index(drop=True))
Project_Number_y_first = (mv_port.drop_duplicates(subset='Project Number_y', keep= 'first').reset_index(drop=True))

In [89]:
#this function will map back one value based on project number
def cohesive(column, subdf):
    #subset df
    realData = pd.Series(data=subdf[column].values, index=subdf['Project Number'])
    
    #map back to the original dataset
    mv_port[column] = mv_port['Project Number'].map(realData).fillna(mv_port[column])
    #Use this to doublcheck
    return mv_port[mv_port['Project Number'] == '30001367'][column]

In [70]:
### Project Status, Contract Type Name,

In [ ]:
'''
we also need a function that only fills a column with a certain value, based on project number, this should actually be a dict no?


legacydict = dict(zip(df12_uniquelegacy['legacycleaned'], df12_uniquelegacy['Project_Number']))

we want to keep all values and only replace nan for each project number

df_tomerge['Project_Number'] = df_tomerge['Project_Number'].map(legacydict).fillna(df_tomerge['Project_Number'])

'''

def replace_nan(column, subdf):
    
    mv_port[column].fillna('Unspecified', inplace=True)

### Let's move column by column and decide what to do

### helath and safety

In [60]:
cohesive('Health and Safety Status', Project_Number_y_first)
cohesive('SalesCloudClientNo', Project_Number_x_first)
cohesive('Ultimate Customer AUS Market Sector', Project_Number_x_first)
cohesive('Division Short Name', Project_Number_x_first)

222096     Plan Required
259759     Plan Required
283747     Plan Required
320048     Plan Required
347431     Plan Required
392774     Plan Required
416429     Plan Required
457767     Plan Required
478293     Plan Required
514840     Plan Required
538517     Plan Required
560813     Plan Required
591566     Plan Required
628943     Plan Required
635531     Plan Required
661255     Plan Required
712541     Plan Required
721874     Plan Required
757738     Plan Required
783456     Plan Required
816989     Plan Required
874162     Plan Required
892176     Plan Required
926979     Plan Required
961289     Plan Required
993295     Plan Required
1024087    Plan Required
1098829    Plan Required
1282279    Plan Required
Name: Health and Safety Status, dtype: object

In [106]:
cohesive('location_2', Project_Number_x_first)
cohesive('location_4', Project_Number_x_first)
cohesive('Region', Project_Number_x_first)
cohesive('City', Project_Number_x_first)
cohesive('Country', Project_Number_x_first)
cohesive('Country Name', Project_Number_x_first)
cohesive('Proj_CVP', Project_Number_x_first)
cohesive('Proj_Serv_Offering', Project_Number_x_first)
cohesive('CVP Description', Project_Number_x_first)
cohesive('ï»¿CVP Code', Project_Number_x_first)
cohesive('CVP Description', Project_Number_x_first)
cohesive('primary_client_industry', Project_Number_x_first)
cohesive('revenue_type', Project_Number_x_first)
cohesive('Organization Size', Project_Number_x_first)
cohesive('Risk Profile', Project_Number_x_first)
cohesive('Projectduration', Project_Number_x_first)
cohesive('Cleaned_Name', Project_Number_x_first)
cohesive('Projectduration', Project_Number_x_first)

4          63.0
2357       63.0
4782       63.0
7311       63.0
9931       63.0
           ...
971640     63.0
1008944    63.0
1038150    63.0
1079088    63.0
1270529    63.0
Name: Projectduration, Length: 64, dtype: float64

In [92]:
cohesive('Sales Cloud Opportunity Number', Project_Number_y_first)
cohesive('AUS Mkt Sector Aggregate', Project_Number_y_first)

4          Unspecified
2357       Unspecified
4782       Unspecified
7311       Unspecified
9931       Unspecified
              ...
971640     Unspecified
1008944    Unspecified
1038150    Unspecified
1079088    Unspecified
1270529    Unspecified
Name: Sales Cloud Opportunity Number, Length: 64, dtype: object

In [107]:
cohesive('Project Start Date', Project_Number_y_first)
cohesive('Project Manager Employee Number (Current)', Project_Number_y_first)
cohesive('Scheduled End Date', Project_Number_y_first)

4          2020-06-11
2357       2020-06-11
4782       2020-06-11
7311       2020-06-11
9931       2020-06-11
              ...
971640     2020-06-11
1008944    2020-06-11
1038150    2020-06-11
1079088    2020-06-11
1270529    2020-06-11
Name: Scheduled End Date, Length: 64, dtype: object

In [108]:
mv_port.to_csv('mv_port.csv')

In [ ]:
## cannot be mapped for now, needs to be mapped perhaps with the legacy function
'''

'Funding Amount - ITC (Snapshot)',
'Backlog NR',
'Actual Direct Labor Cost - MTD', 'Actual Non-Labor Cost - MTD',
       'Actual Gross Revenue - MTD', 'Actual Net Revenue - MTD', 'EBITA - MTD',
       'Forecast Direct Labor Cost - ITC', 'Forecast Net Revenue - ITC',
       'Order Intake (NR) - MTD', '', 'bookings_jtd', 'interest_current',
       'interest_jtd', 'interest_ytd', 'multiplier_budget',
       'multiplier_current', 'multiplier_target', 'overhead_current',
       'overhead_rate', ''Break Even Multiplier - Project''
       
       'interest_current.1', 'riskrating_project',
       'Total WIP', 'Positive WIP', 'Total Aging'
       
       
       
       ----- Fill NA with the oldest value ---
       Contract Status
       
       Project Progress Status (Current)
       
       ------------#recompute----------
       ActualNR_sum
       
        'POC'
       ----------------------------------    
       
'''